{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<div class="example-wrapper m-4">
		<h1 class="display-5">Formulaire de Connexion</h1>
		<form class="mt-4" action="{{ path('app_security_login')}}" method="POST">
			<div class="mb-3">
				<label for="username" class="form-label">Email</label>
				<input type="email" class="form-control" id="username" name="_username">
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Mot de passe</label>
				<input type="password" class="form-control" id="password" name="_password">
			</div>
			<button type="submit" class="btn btn-primary">Se connecter</button>
		</form>
	</div>

{% endblock %}
