{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<h1>
	Voici les candidat pour l'annonce
	{{annonce.title}}
	:
</h1>


	<table class="table">
		<thead>
			<tr>
				<th>Nom</th>
				<th>CV</th>
				<th>Actions</th>

			</tr>
		</thead>
		<tbody>
			
{% for candidature in candidatures %}

					<tr>
						<td>{{ candidature.getCandidatId().name }}</td>
						<td>{{ candidature.getCandidatId().CV }}</td>
						<td></td>
	
					</tr>
					{% else %}
                    "pas encore de candidat pour cette annonce."
			{% endfor %}
		</tbody>
	</tbody>
</table>{% endblock %}
