{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<h1>
		Voici les candidats pour l'annonce
		{{annonce.title}}
		:
	</h1>


	<table class="m-5 w-25">
		<thead>
			<tr>
				<th>Nom</th>
				<th>CV</th>
				

			</tr>
		</thead>
		<tbody>

			{% for candidature in candidatures %}

				<tr>
					<td>{{ candidature.getCandidatId().name }}</td>
					
					<td>
						<a href="{{ candidature.getCandidatId().getCV() }}">
						<button class="btn btn-primary">Télécharger le CV</button>
						</a>
					</td>

				</tr>
			{% else %}
				"pas encore de candidat pour cette annonce."
			{% endfor %}
		</tbody>
	</tbody>
</table>{% endblock %}
