{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<h1>
		Voici les candidats pour l'annonce
		{{annonce.title}}
		:
	</h1>


	<table class="m-5 w-25">
		<thead>
			<tr>
				<th>Nom</th>
				<th>CV</th>


			</tr>
		</thead>
		<tbody>

			{% for candidature in candidatures %}

			
				<tr>
					<td>{{ candidature.getCandidatId().name }}</td>

					<td>
					{# /public/uploads/cv #}
					
						{# <a href="{{ asset('uploads/' ~ candidature.CVFiles) }}">View brochure (PDF)</a> #}


						<a href="{{ asset('uploads/' ~ user.setCV)}}">
							<button class="btn btn-primary">telecharger le CV</button>
						</a>
					</td>

				</tr>
			{% else %}
				<p class="display-5">Il n'y a pas encore d'annonce pour cette annonce</p>
			{% endfor %}
		</tbody>
	</tbody>
</table>{% endblock %}
