{% extends 'base.html.twig' %}

{% block title %}Modifier un consultant
{% endblock %}

{% block body %}
<div class="container ms-5">
<div class="w-25 m-5 ">
<div class="lead">Modifer un consultant</div>
<hr class="my-3">
<div class="mt-4">
{{ form(form) }}
</div>
</div>
</div>
{% endblock %}
