{% extends 'base.html.twig' %}

{% block title %}Candidatures{% endblock %}

{% block body %}

	<div class="container m-4">

		<h1>Voici la liste de vos candidatures</h1>
		<table class="table ">
				<thead>
					<tr>
						<th>Titre de l'annonce</th>
						<th>Statut</th>
						<th>Action</th>
						<th>Action</th>

					


					</tr>
				</thead>
		{% for candidature in candidatures %}
			<tr>
				<td>{{ candidature.getAnnonceId()}}</td>
				<td>{{ candidature.valide ? 'Validé' : 'En attente' }}</td>
				<td>{{ include('candidature/_delete_form.html.twig') }}</td>
				<td>
					<a class="btn text-secondary" href="{{ path('app_annonce_show', {'id': candidature.getAnnonceId().id}) }}">Plus de détails</a>
				</td>
			</tr>
		{% endfor %}
	</div>
{% endblock %}
