{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% for candidature in candidatures %}
<div class="">
Le candidat {{ candidature.getCandidatId()}} à postulé a l'annonce {{ candidature.getAnnonceId()}}</div>

    {% endfor %}
{% endblock %}
